{
    "longform_use_system_audio": false,
    "realtime_use_system_audio": false,
    "longform_language": "el",
    "realtime_language": "el",
    "send_enter": true,
    "task": "transcribe",
    "longform_model": "Systran/faster-whisper-large-v3",
    "realtime_model": "deepdml/faster-whisper-large-v3-turbo-ct2"
}